div {
    text-transform: lowercase;
}

button {
    color: #007AFF;
}

.timeline{
    display:none;
}

.timeline h1 {
    color: #007AFF;
}

.timeline h2 {
    color: #007AFF;
}

.content ul {
    color: #007AFF;
    list-style: none;
}

.timeline.hidden {
    display:none;
}


.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

/* Hamburger Menu */
.hamburger {
    height: 50px;
    width: 50px;
    background-color: white;
    top: 10px;
    left: 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
    position: fixed;
  }

.hamburgerClick{

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hamburgerOn {
    color:white;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #007AFF;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*end Hamburger Menu*/

#subtitle {
    color:#F1765E;
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.emoji {
    font-size: 80px;
}
.emoji:hover {
    text-decoration: none;
    font-size: 60px;
}

.jumbotron {
    background-color: white;
    color: #000000;
}

.jumbotron button {
    border-radius: 2px;
}

.jumbotron h1 {
    text-align:center;
    color: #007AFF;
    font-size: 69pt;
}

.jumbotron p {
    padding: 0px 2px;
}

.jumbotron q {
    display: none;
    padding: 0px 5px;
}

/* overlay */
.hidden {
    display: none!important;
}
.overlay {
    background-color: #007AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.links {
    text-align: center;
}
.links a{
    font-size: 36pt;
    color: white;
    display: list-item;
    list-style: none;
    padding: 5px 0px;

}
/* end overlay */

.nav-container {
    padding: 10px 0px;
}

.nav-container p {
    font-size: 18pt;
    opacity: 1;
}

.blue {
    background-color: #007AFF!important;
}

.white {
    background-color: white!important;
}
/*end overlay */

/*footer styling*/
#icon-github {
    margin-bottom: 15px;
}

#icon-linkedin {
    margin-bottom: 15px;
}

#footer {
    position: fixed;
    bottom: 10px;
}

#icon-github:hover {
    opacity: .3;
}

#icon-linkedin:hover {
    opacity: .3;
}
/* end footer styling*/